body {
  background-color: #f7f7f7;
}

#container {
  max-width: 960px;
  margin: 0px auto;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 30px;
}

.create-todo {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  width: 400px;
  float: left;
}

.list-todo {
  border-radius: 5px;
  background-color: white;
  border: 1px solid;
  width: 400px;
  float: right;
}

.form-group {
  margin: 10px;
}

button {
  width: 80px;
  height: 30px;
  margin-right: 30px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.btn_create {
  background-color: #297ab5;
}

label {
  display: inline-block;
  width: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td:hover {
  cursor: pointer;
}

.header-list-todo {
  width: 100%;
  text-align: center;
  margin: 10px;
}

.data-list-todo {
  width: 100%;
  text-align: center;
  margin: 10px;
}

.doing {
  background-color: #bcc6d6;
}

.done {
  background-color: #28ed9b;
}

span:hover {
  cursor: pointer;
}
