/**
* Base layout
*/

.container::after {
  clear: both;
}

html {
  background: #191818;
}

/**
* Sidebar
*/
.sidebar {
  padding: 15px;
  max-width: 240px;
}

.sidebar.left-sidebar {
  float: left;
}

/**
* content
*/
.content {
  padding: 15px;
  max-width: 940px;
  display: inline-block;
}
